In [50]:
### basic package for data science project
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle
import helpers

import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set()

In [49]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
imp_mean = IterativeImputer(random_state=0)

1. Remove columns with missing value more than 75% 
2. Remove col 'x39' and 'x99' since those two columns don't bring additional information 
3. Impute NAN for missing values in numerical methods 
4. We can use Catboost or Imputing categorical features is to replace missing values with the most common class. 


Alternative (if time permitted):
    - Check each features to see if there exists outliers.

In [12]:
train_data = pd.read_csv('data/exercise_40_train.csv')
test_data = pd.read_csv('data/exercise_40_test.csv')

In [20]:
most_missing_cols = list(set(train_data.columns[train_data.isnull().mean() > 0.4]))
remove_cat_col = ['x39', 'x99']
remove_cols = most_missing_cols + remove_cat_col

In [ ]:
df = train_data.copy()
df = df.loc[:, (~df.columns.isin(most_missing_cols + remove_cat_col))]

#### find catergorical features
cat_df = df.select_dtypes(include=['object'])

#### clean col x7 and x19
cat_df['x7'] = cat_df['x7'].str.replace('%','')
cat_df["x19"] = cat_df['x19'].str.replace('$','')
cat_df = cat_df.astype({'x7': 'float', 'x19': 'float'})

#### clean x3 col
cat_df['x3'] = cat_df.apply(lambda x: helpers.clean_day_x3_col(x['x3']), axis = 1)

### convert x7 and x19 back to numerical fts 
df['x7'] =  cat_df['x7']
df['x19'] = cat_df["x19"]

#### categorical cols 
cat_cols = cat_df.select_dtypes(include=['object']).columns
cat_df.drop(['x7','x19'], axis = 1, inplace = True)

#### clean numerical features 
numerical_df = df.loc[:, (~df.columns.isin(cat_cols))]

In [40]:
### imputing missing values 
num_df_trasformed = pd.DataFrame(imp_mean.fit_transform(numerical_df.loc[:, ~(numerical_df.columns.isin(["y"]))]))
num_df_trasformed.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,0.165254,18.060003,1.077380,-1.339233,-1.584341,0.0062,0.220784,1.816481,1.171788,109.626841,...,10.602395,2.770844,-0.397427,0.909479,5.492487,-0.841821,10.255579,7.627730,0.0,104.251338
1,2.441471,18.416307,1.482586,0.920817,-0.759931,0.0064,1.192441,3.513950,1.419900,84.079367,...,10.408146,3.703013,0.656651,9.093466,3.346429,4.321172,7.367849,10.505284,1.0,101.230645
2,4.427278,19.188092,0.145652,0.366093,0.709962,-0.0008,0.952323,0.782974,-1.247022,95.375221,...,2.897000,3.997183,2.059615,0.305170,4.456565,-0.964016,8.754572,7.810979,0.0,109.345215
3,3.925235,19.901257,1.763602,-0.251926,-0.827461,-0.0057,-0.520756,1.825586,2.223038,96.420382,...,5.051607,2.933707,0.899392,5.971782,4.100022,1.151085,8.616315,9.178325,1.0,103.021970
4,2.868802,22.202473,3.405119,0.083162,1.381504,0.0109,-0.732739,2.151990,-0.275406,90.769952,...,4.823047,2.922302,3.003595,1.046096,3.234033,2.074927,9.987006,11.702664,0.0,92.925935

In [42]:
cat_df.head(2)

          x3     x24 x31        x33     x60       x65       x77 x93
0  Wednesday  female  no   Colorado  August   farmers  mercedes  no
1     Friday    male  no  Tennessee   April  allstate  mercedes  no

Index(['x3', 'x24', 'x31', 'x60', 'x65', 'x77', 'x93'], dtype='object')

In [39]:
### if not using catboost model, then imputing categorical features 
### by replacing missing values with the most common class
### use label encoder for col 'x33' and one-hot encoder for the rest
if not catboost_model:
    one_hot_cols = cat_df.columns[cat_df.columns != 'x33']  
    cat_df_transformed = helpers.create_dummy_df(df, one_hot_cols = one_hot_cols, dummy_na)
    
    ### user label encoder for col 'x33'
    le = LabelEncoder()
    cat_df_transformed['x33'] = le.fit_transform(cat_df_transformed['x33'])
    
    ### save labelEncoder for test set
    with open('le_dict', 'wb') as l:
    pickle.dump(le_dict, l, pickle.HIGHEST_PROTOCOL)

array([[  0.165254,  18.060003,   1.07738 , ...,   7.62773 ,   0.      ,
        104.251338],
       [  2.441471,  18.416307,   1.482586, ...,  10.505284,   1.      ,
        101.230645],
       [  4.427278,  19.188092,   0.145652, ...,   7.810979,   0.      ,
        109.345215],
       ...,
       [  1.704132,  17.824399,  -0.58136 , ...,   7.663763,   1.      ,
        100.022536],
       [  3.963408,  20.285597,   0.430116, ...,   8.644538,   0.      ,
        109.460219],
       [  2.574164,  16.44285 ,  -1.166067, ...,  12.52586 ,   1.      ,
        110.334978]])

In [ ]:
def clean_train_data(df, remove_cols, label_encoder_path = "", catboost_model = True):
    
    pass
    return


def clean_test_data(df):
    pass 
    return

In [ ]:
def extract_features(df):

In [21]:
['a', 'b']

TypeError: unsupported operand type(s) for -: 'list' and 'list'